table {
  width: 100%;
}
.scroll-bar {
  height: 96vh;
  overflow-y: scroll;
}
thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(235, 144, 101);
}
tr, td, th {
    border: black 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    text-align: center;
}
th {
  padding: 12px;
}
.header:hover {
  color: white;
  cursor: pointer;
}
.row0 {
  display: none;
}

tr[data-address-section-expanded='false'],
td[data-address-section-expanded='false'],
td[data-address-section-closed='false'] {
  display: none;
}
tr[data-address-section-expanded='true'] {
  display: table-row;
}
td[data-address-section-expanded='true'],
td[data-address-section-closed='true'] {
  display: table-cell;
}
th[data-address-section-expanded='true'] {
  padding: 1px;
}
tr[data-address-section-expanded='true'] > * {
  padding: 1px;
}