.whole-sort-area {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 252, 184);
}
th[data-column-checkbox-checked="false"],
td[data-column-checkbox-checked="false"] {
  display: none;
}
table {
  width: 100%;
}

.scroll-bar {
  height: 96vh;
  overflow-y: scroll;
}
thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(235, 144, 101);
}
tr, td, th {
    border: black 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    text-align: center;
}
th {
  padding: 12px;
}
.colored-row {
  background-color: rgb(253, 206, 184);
}
.blured {
  filter: blur(2px);
}

td[data-section-expanded='false'],
th[data-section-expanded='false'] {
  display: none;
}

td[data-header-expanded='true'] {
  display: none;
}




