table {
  width: 100%;
}
.sorting {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(252, 252, 184);
}
.sort-line {
  display: flex;
}
.sort-adding-button {
  align-self: center;
  padding: 0 2px;
  margin: 5px;
  margin-top: -20px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
}
.close-button {
  align-self: flex-end;
  border: black 1px solid;
  background-color: rgb(235, 144, 101);
  cursor: pointer;
}
.sort-fields {
  width: 20vw;
  border: black 1px solid;
  text-align-last: center;
  margin: 5px;
}
.sort-directions {
  width: 20vw;
  border: black 1px solid;
  text-align-last: center;
  margin: 5px;
  
}
.reset-button {
  border: black 1px solid;
  width: 8vw;
  margin: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  background-color: white;
}
.submit-button {
  border: black 1px solid;
  width: 8vw;
  margin: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: white;
}
.reset-button:hover, .submit-button:hover, .sort-adding-button:hover {
  background-color: rgb(235, 144, 101);
}
.close-button:hover {
  background-color: white;
}
.addition-symbol {
  margin: 0;
}
.sort-hidden {
  display: none;
}
.sort-adding-button, .close-button, .sort-fields, .sort-directions, .reset-button, .submit-button, .sort-options-clone, .addition-symbol {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  text-align: center;
}
.scroll-bar {
  height: 96vh;
  overflow-y: scroll;
}
thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(235, 144, 101);
}
tr, td, th {
    border: black 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    text-align: center;
}
th {
  padding: 12px;
}
.header:hover {
  color: white;
  cursor: pointer;
}
.colored-row {
  background-color: rgb(253, 206, 184);
}

tr[data-address-section-expanded='false'],
td[data-address-section-expanded='false'],
td[data-address-section-closed='false'] {
  display: none;
}
tr[data-address-section-expanded='true'] {
  display: table-row;
}
td[data-address-section-expanded='true'],
td[data-address-section-closed='true'] {
  display: table-cell;
}
th[data-address-section-expanded='true'] {
  padding: 1px;
}
tr[data-address-section-expanded='true'] > * {
  padding: 1px;
}